/* 
    Document   : main
    Created on : Aug 10, 2013, 2:47:31 PM
    Author     : nychos
    Description:
        Purpose of the stylesheet follows.
*/

body {margin: 0px; padding: 0px;}
#wrapper {width: 800px; position: relative;margin: 0 auto 0;}
#wrapper > * {position: inherit; border : 1px solid whitesmoke;}
iframe {display: none;}
#header {height: 50px;}
#aside {line-height: 2em; background-color: #68889E; height: 2em;}
#content {height: 400px;overflow: scroll; width: inherit;}
/*#content > div {width: inherit; position: relative; float: left;}*/
#result {position: relative;}
#shadow {position: absolute;top: 0;border-radius: 10px;z-index: 1000; background-color: whitesmoke; width: 50%; height: 50%; opacity: 0.7;display: none;}
#shadow > * {text-align: center;}
#logo {position: relative; float: left;}
/*** styling the input type=file ***/
.fileWrapper {float:left; width:104px; height:24px;position:relative;
overflow:hidden;}
.fileWrapper input.fileInput {height:24px;position:absolute;
top:0;right:0;opacity:0;filter:alpha(opacity=0);cursor:pointer;}
a.fileButton {display:block;float:left;padding:2px 4px;line-height:20px;
width:96px;height:20px;text-align:center;font-size:12px;cursor:pointer;
background:#07134A;color:#ffffff;}
.fileWrapper:hover a.fileButton {background-color:#2F3A69;}
.notice {display:none;}
input.inputSubmit {display:none;}

.activeWord {font-weight: bold; text-decoration: underline;}
/*filter*/
.filter {background-color: whitesmoke; border-color: #ccc; max-width: 100px;}
.filter_body {width: 100%;}
.close_filter {
    float: right;
    margin-right: -10px;
    margin-top: -10px;
    position: relative;
}
.close_filter img {border: 1px solid #ccc;}
.word-dialog {border: 1px solid #91BE3F; position: absolute;background-color: whitesmoke; width: 300px;}
#translationCheckDialog {position: absolute;z-index: 2; border: 1px double #fff;
width: 600px;
background-color: whitesmoke;
}
#translationCheckHeader {font-size: 1.5em; color: #000; border: 1px outset whitesmoke; border-radius: 5px;margin: 2px; padding: 2px;}
#translationCheckBody {color: #000;}
.translationMessage {font-size: 10px; clear: both;}
.addTranslation {border: 1px dotted #444444; padding: 5px;}
.dictionaryBody button { border-radius: 5px; padding: 5px;}
#myDictionary button:hover {background-color: #f44040; font-weight: bold; color: #fff;}
#commonDictionary button:hover {background-color: #92c81f; font-weight: bold; color: #fff;}
.phrase span {
    background-color: whitesmoke;
    border: 1px outset #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    font-size: 14px;
    line-height: 3em;
    padding: 8px;
}
.phrase span:hover {cursor: pointer;}
.translated {background-color: #fff !important; border: 1px inset #CCCCCC !important;}
.phraseStatus {
    border: 1px solid #68889E;
    border-radius: 20px;
    display: inline-block;
    height: 20px;
    position: relative;
    vertical-align: middle;
    width: 20px;
    margin: 0px 5px;
    overflow: hidden;
}
.waiting {
    background-image: url('../img/orange.png');
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}
.process {}
/*PROGRESS BAR*/
.progressContainer {background-color: #68889E;}
