<div class="word-dialog">
    <div class="arrow"><img src="img/arrow1.png" /></div>
    <button id='showWordPhrases' class="niceButton">Show all <%= data.count %> phrases</button>
    <form autocomplete="off">
        <input type="text" required pattern='[а-яіїА-ЯіЇ]+(-[а-яіїА-ЯіЇ]+)*' name="translation" autocomplete="off"/>
        <input type="hidden" name="word" value="<%= data.word %>"/>
        <input type="submit" value="Check" class="niceButton" />
        <button id="showTranslation">?</button>
    </form>
</div>