<div class="word-dialog">
    <button id='showWordPhrases'>Show all <%= data.count %> phrases</button>
    <form autocomplete="off">
        <input type="text" required pattern='[а-яіїА-ЯіЇ]+(-[а-яіїА-ЯіЇ]+)*' name="translation" autocomplete="off"/>
        <input type="hidden" name="word" value="<%= data.word %>"/>
        <input type="submit" value="Check" />
        <button id="showTranslation">?</button>
    </form>
</div>